[submodule "bundle/rvm"]
	path = bundle/rvm
	url = git://github.com/tpope/vim-rvm.git
  ignore = dirty
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
  ignore = dirty
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
  ignore = dirty
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
  ignore = dirty
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
  ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
  ignore = dirty
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git
  ignore = dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
  ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
  ignore = dirty
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = https://github.com/skwp/vim-rspec
  ignore = dirty
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user
  ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
  ignore = dirty
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
  ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
  ignore = dirty
[submodule "bundle/jsx"]
	path = bundle/jsx
	url = https://github.com/mxw/vim-jsx.git
  ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
  ignore = dirty
